<?xml version="1.0" encoding="UTF-8"?>
<!-- Status = level of internal log4j events to log to console. Set status to "trace" to troubleshoot log4j -->
<Configuration status="warn">
    <CustomLevels>
        <!-- Use for current issue being debugged, without printing out all
            statements at DEBUG level.  -->
        <CustomLevel name="ONLY" intLevel="450" />
    </CustomLevels>
    <Appenders>
        <RollingFile name="RollingFile" fileName="log/bib2lod.log"
            filePattern="log/$${date:yyyy-MM-dd}/bib2lod-%d{yyyy-MM-dd-HHmmss}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile> 
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="RollingFile" level="info"/>
            <AppenderRef ref="Console" level="info"/>
        </Root>
        <!-- Sample loggers -->
        <!--
        <Logger name="org.ld4l.bib2lod.rdfconversion.bibframeconversion" level="debug">
            <AppenderRef ref="Console"/>
        </Logger>
        -->
        <!-- Custom logger. Call: LOGGER.log(LOGGER.getLevel("ONLY")
        <Logger name="org.ld4l.bib2lod.rdfconversion.resourcededuping.BfAuthorityDeduper" level="only">
            <AppenderRef ref="Console"/>
        </Logger>
        --></Loggers>
        <!--
        <Logger name="org.ld4l.bib2lod.rdfconversion.RdfProcessor" level="trace">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>

