<?xml version="1.0" encoding="UTF-8"?>
<!-- This configuration can be overridden by placing a file log4j2-test.xml in the same directory (src). -->
<!-- Status = level of internal log4j events to log to console. Set status to "trace" to troubleshoot log4j2. -->
<Configuration status="warn">
    <Appenders>
        <RollingFile name="RollingFile" fileName="log/bib2lod.log"
            filePattern="log/$${date:yyyy-MM-dd}/bib2lod-%d{yyyy-MM-dd-HHmmss}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile> 
        <Console name="Console" target="SYSTEM_OUT">
            <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} line %L - %msg%n"/> -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>

